<h1>Lista tytułów</h1>
{% if user.is_authenticated %}
<a href="{% url 'logout' %}">Wyloguj</a>
{% else %}
<a href="{% url 'login' %}">Zaloguj</a>
{% endif %}
<form method="GET">
  <label for="sort">Sortuj według:</label>
  <select id="sort" name="sort">
    <option value="title">Tytuł</option>
    <option value="author">Autor</option>
  </select>
  <input type="submit" value="Sortuj">
</form>
<table>
  <thead>
    <tr>
      <th>Tytuł</th>
      <th>Autor</th>
    </tr>
  </thead>
  <tbody>
    {% for title in titles %}
    <tr>
      <td><a href="{% url 'title_detail' title.id %}">{{ title.title }}</a></td>
      <td>{{ title.author }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>